html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto; }

img {
  max-width: 100%; }

main {
  background: rgba(255, 228, 225, 0.8); }

p {
  font-size: 1.6rem;
  font-family: 'Lora', sans-serif;
  font-style: italic;
  font-weight: 800; }

h1 {
  font-family: 'Great Vibes', sans-serif;
  font-size: 6rem;
  color: rgba(255, 215, 0, 0.9);
  margin: 0;
  letter-spacing: 2px;
  text-shadow: 2px 2px black; }

h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: hotpink;
  text-shadow: 1px 1px black; }

h3 {
  font-size: 2.2rem;
  font-family: 'Lora', sans-serif;
  font-weight: bold;
  color: rgba(255, 215, 0, 0.9);
  text-shadow: 2px 2px black;
  text-transform: uppercase; }

h4 {
  font-size: 1.8rem;
  font-family: 'Lora', sans-serif;
  color: lightblue;
  font-weight: bolder;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
  letter-spacing: 1px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.booking {
  margin-top: 20px;
  border: 1px solid black;
  background: #c19387;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25%;
  float: right; }
  .booking a {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 20px 10px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 1px 2px black;
    text-align: center; }

.button {
  display: inline-block;
  padding: 20px 25px;
  border: 1px solid black;
  background: #24292d; }
  .button a {
    color: rgba(255, 215, 0, 0.9);
    text-transform: uppercase;
    font-size: 1.8rem; }

.button:hover, .booking:hover {
  background: #F0F8FF;
  border: 1px solid black; }
  .button:hover a, .booking:hover a {
    color: black;
    text-shadow: 2px 2px white; }

.blushimg {
  float: left; }

nav {
  background: black; }

.headermenu {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .headermenu li {
    padding: 8px;
    position: relative; }
  .headermenu a {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px gray;
    letter-spacing: 1px; }

.submenu {
  margin: 0;
  padding: 5px 0;
  display: none;
  position: absolute;
  top: 34px;
  left: 0;
  background: silver;
  color: white;
  font-size: 1.3rem;
  text-transform: capitalize; }

.headermenu li:hover a {
  background-color: silver; }

.fa-bars {
  display: none;
  font-size: 3rem;
  color: #24292d; }

.headermenu li:hover {
  background-color: silver; }

.headermenu li:hover ul.submenu {
  z-index: 9999;
  display: block; }

.coverimage {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
  object-fit: cover; }

.carousel {
  position: relative; }

.imagecopy {
  position: absolute;
  top: 40%;
  left: 10%;
  z-index: 999; }

.aboutcontent {
  padding-top: 5%;
  text-align: center;
  margin: 5% 10%; }
  .aboutcontent p {
    line-height: 1.5; }

.model, .aboutcopy {
  width: 50%;
  float: left; }

.aboutcopy {
  padding-left: 5%; }

.modelimg {
  width: 100%;
  border: 3px solid pink; }

.welcomecopy {
  padding-right: 20px;
  padding-top: 15px;
  margin-top: 0; }

.welcome, .offer {
  font-family: 'Great Vibes', sans-serif;
  font-size: 6rem;
  text-transform: capitalize;
  color: hotpink;
  text-shadow: 1px 1px gray;
  margin-bottom: 3px; }

.subhead {
  text-align: center; }

.information {
  padding-bottom: 10%; }

.information img {
  border: 3px solid pink; }

.yourskin, .services, .promotions {
  width: calc(33.3% - 20px);
  float: left;
  margin: 10px;
  text-align: center; }

.services p, .yourskin p {
  padding-top: 40px; }

footer {
  background: #24292d; }

footer p {
  font-size: 1.4rem;
  color: white; }

.footerinfo {
  margin-bottom: 5%;
  padding-left: 5%; }

.location, .time, .contactinfo {
  width: 33.3%;
  float: left; }

.city, .postalcode {
  padding-left: 18px;
  margin: 10px 0px; }

.map {
  width: 90%; }

.mapmarker {
  padding-top: 5px; }

.follow {
  padding-top: 40px; }

.footer-firstline {
  display: inline-block;
  margin: 0; }

.socialicons {
  font-size: 2.5rem; }
  .socialicons a {
    text-decoration: none;
    color: rgba(255, 215, 0, 0.9);
    display: inline-block;
    padding: 5px; }

.logo {
  font-size: 2rem;
  color: rgba(255, 215, 0, 0.9);
  padding-right: 3px;
  display: inline-block; }

.saturday, .sunday {
  padding-left: 23px;
  margin: 12px 0px; }

.footer-firstline a {
  color: white; }

.phone {
  font-size: 1.5rem; }

.email {
  display: inline-block; }

.phonenumber {
  padding-top: 12px; }

.icon {
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.icon:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5); }

.emailform {
  padding-top: 20px; }

.emaillabel {
  font-size: 1.6rem;
  color: rgba(255, 215, 0, 0.9); }

.submit {
  display: inline-block;
  padding: 10px 20px;
  background: royalblue;
  margin-left: 10px;
  font-family: 'Lora', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: rgba(255, 215, 0, 0.9);
  text-shadow: 1px 1px black;
  border: 1px solid silver; }

.submit:hover {
  background: #F0F8FF;
  color: black;
  text-shadow: 2px 2px white; }

.emailinput {
  display: inline-block;
  width: 180px;
  padding: 14px 5px;
  background: lightblue;
  border: 1px solid black;
  font-size: 1.3rem;
  font-family: 'Lora', sans-serif;
  color: black; }

.copyright {
  background: #c19387; }
  .copyright .copyrightstatement {
    font-size: 1rem;
    font-style: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    margin: 0;
    text-shadow: 1px 1px black; }

.bookingtitle {
  font-size: 4rem;
  color: rgba(255, 215, 0, 0.9);
  font-family: 'Lora', sans-serif;
  padding-top: 20px; }

.bookingsubhead {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  color: lightblue; }

.bookingPage {
  background: #24292d;
  border-bottom: 4px solid gray;
  padding-right: 5%;
  padding-left: 5%; }

.appointmentform {
  padding: 30px 0px 60px; }

.bookingform {
  padding-top: 10px;
  border: 3px solid gray;
  width: 80%;
  background: -webkit-linear-gradient(45deg, gray, black);
  background: -o-linear-gradient(45deg, gray, black);
  background: linear-gradient(45deg, gray, black); }

.bookingform div {
  padding-bottom: 30px;
  padding-left: 25px; }

.bookingform label {
  display: block; }

.bookingform input {
  border: 1px solid black; }

.appointmentform {
  font-size: 1.6rem;
  color: rgba(255, 215, 0, 0.9);
  letter-spacing: 2px; }

.commentBox {
  width: 70%;
  height: 200px; }

.appointmentSubmit {
  color: white;
  text-shadow: 1px 1px black;
  background: #c19387;
  font-family: 'Lora', sans-serif;
  padding: 10px 20px;
  border: 1px solid black; }

.appointmentSubmit:hover {
  background: #F0F8FF;
  color: black;
  text-shadow: 2px 2px white; }

@media (max-width: 940px) {
  .model {
    width: 100%; }
  .modelimg {
    width: 75%; }
  .aboutcopy {
    width: 100%; }
  .footerinfo {
    padding-left: 8%;
    padding-right: 8%; }
  .location, .time {
    width: 50%;
    float: left;
    padding-bottom: 30px;
    border-bottom: 2px solid silver; }
  .time {
    padding-left: 25px; }
  .location {
    padding-bottom: 39px; }
  .contactinfo {
    width: 100%; }
  .contactcopy, .socialmedia {
    border-bottom: 2px solid silver;
    padding: 10px 0px 30px;
    text-align: center; }
  .emailform, .copyrightstatement {
    text-align: center; }
  .bookingform {
    width: 100%; }
  .bookingsubhead {
    text-align: center; }
  .commentBox {
    width: 400px; } }

@media (max-width: 767px) {
  .coverimage {
    height: 500px; }
  h1 {
    font-size: 4rem;
    text-align: center; }
  .carousel {
    position: relative; }
  .imagecopy {
    position: absolute;
    top: 40%;
    width: 80%; }
  .imagesubhead {
    font-size: 2rem;
    text-align: center; }
  .button:nth-of-type(1) {
    display: block;
    margin: auto;
    width: 200px;
    text-align: center;
    padding: 10px 10px; }
    .button:nth-of-type(1) a {
      font-size: 1.6rem; }
  .fa-bars {
    font-size: 4rem;
    display: inline-block;
    position: absolute;
    top: 4%;
    right: 5%; }
  nav {
    display: none; }
  nav.active {
    display: block;
    position: relative;
    background: gray; }
    nav.active .headermenu {
      float: right;
      display: block;
      position: absolute;
      text-align: right;
      right: 0;
      z-index: 9999;
      background: black;
      width: 40%; }
  .booking {
    display: none; }
  .aboutcopy, .yourskin, .services, .promotions, .map {
    width: 100%; }
  .services, .yourskin {
    padding-bottom: 80px; }
  .information {
    padding-right: 5%; }
  .services p, .yourskin p {
    padding-top: 0px; }
  .location, .time, .contactinfo {
    padding-bottom: 5%;
    padding-left: 0;
    border-bottom: 2px solid silver;
    width: 100%;
    text-align: center; }
    .location .address, .time .address, .contactinfo .address {
      text-align: center; }
  .commentBox {
    width: 350px; } }

@media (max-width: 480px) {
  section:not(.carousel) {
    padding-right: 5%;
    padding-left: 5%; }
  .blushimg {
    width: 40vw; }
  h1 {
    font-size: 3rem; }
  h3 {
    font-size: 1.8rem; }
  .fa-bars {
    font-size: 3rem;
    top: 2%;
    right: 5%; }
  .hamburger {
    display: inline-block;
    position: absolute;
    top: 3%;
    right: 5%; }
  .fa-bars:hover .headermenu li {
    display: inline-block; }
  .coverimage {
    width: 100vw;
    height: 350px; }
  .about {
    padding-top: 40px; }
  .location, .time, .contactinfo {
    padding-bottom: 5%;
    padding-left: 0;
    border-bottom: 2px solid silver;
    width: 100%;
    text-align: center; }
    .location .address, .time .address, .contactinfo .address {
      text-align: center; }
  .emailaddress {
    text-align: center; }
  .commentBox {
    width: 300px; } }
